*{padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins" sans-serif;
  
  }
  body{
      background-color: rgb(4, 4, 141);
      min-height: 100vh;
      user-select: none;
  
  }
  .heading{position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      padding: 10px  ;
      background: #2d06f1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 100;
  
  }
  .nav{position: absolute;
      left: 560px;
      opacity: 0;
      transition: .6s;
      animation: Slidetop .6s ease forwards;
      animation-delay: .2s
  
      
  }
  .nav a{color: #fff;
      text-decoration: none;
      margin-left: 35px;
      opacity: 0;
      transition: .2s ease;
      animation: Slidetop .6s ease forwards;
      animation-delay: calc(.2s * var(--i));
  }
  .nav a:hover{
      color: rgb(7, 171, 171) ;
  
  }
  .logo{
      font-size: large;
      font-weight: 700;
      
      margin-left: 10px;
      opacity: 0;
      animation: Slideright 1s ease forwards ;
      animation-delay: .6s;
      
      
  }
  @keyframes Slideright{
      0%{ 
          transform: translateX(-100px);
          opacity: 0;
      }
      100%{transform: translateX(0px);
          opacity: 1;
  
      }
  }
  
  @keyframes Slidetop{
      0%{
          transform: translateY(100px);
          opacity: 0;
      }
      100%{
          transform: translateY(0px);
          opacity: 1;
      }
  }
  .introduction{opacity: 0;
                animation: Slidebottom 1s ease forwards;
                animation-delay: 0.2s;
                margin-top: 60px;
  
  }
  @keyframes Slidebottom{
      0%{
          transform: translateY(-100px);
          opacity: 0;
      }
      100%{
          transform: translateY(0);
          opacity: 1;
      }
  }
  .icon{margin-left: 20px;
      margin-bottom: 15px;
    
  
  }
  
  .brief{opacity: 0;
         animation: Slideleft 1s ease forwards;
         animation-delay: .2s;
  
  }
  @keyframes Slideleft{
      0%{
          transform: translateX(100px);
          opacity: 0;
      }
      100%{
          transform: translateX(0);
          opacity: 1;
      }
  }
  .Intro{color: #fff;
      font-size: medium;
      font-weight: 700;
       margin-top: 25px ;
       margin-left: 14px;
       letter-spacing: 2px;
       padding: 12px;
       
  
  
  
  }
  h2{color: #fff;
      font-size: medium;
      font-weight: 700;
      margin-left: 14px;
      padding: 10px;
  }
  span{color: rgb(7, 171, 171);
      font-size: medium;
      font-weight: 700;
  
  }
  h3{color:#fff ;
      font-weight: 500;
      margin-left: 14px;
      padding: 10px;
  
  }
  
  p{color: #fff;
  font-size: medium;
  font-weight: 600;
  margin-left: 14px;
  font-style: italic;
  padding: 10px ;
  padding-bottom: 30px;
  
  }
  .slider{position: absolute;
      left: 700px;
      top: 90px;
      width: 40px;
      height: 45px;
  
  }
  img{width: 180px;
      height: 200px;
      border-radius: 50%;
      box-shadow: 0 0 25px rgb(7, 171, 171) ;
  
  }
  .btn1 a{text-decoration: none;
      color: #fff;
      font-size: medium;
      font-weight: 500;
      margin-left: 105px;
      top: 28px;
      padding: 2px 8px 5px 8px;
      background: rgb(7, 171, 171) ;
      border-radius: 12px;
      letter-spacing: 2px;
     
       
  }
  .btn1{ animation: Slideleft 1s ease forwards;
      opacity: 0;
      animation-delay: .2s;
  
  }
  
  .btn1 a:hover{color: rgb(7, 171, 171) ;
               background:#fff ;
               box-shadow: 0 0 25px rgb(7, 171, 171), 0 0 50px rgb(7, 171, 171),
              0 0 200px rgb(7, 171, 171),0 0 200px rgb(7, 171, 171) ;
  
  }
  .abt {color: #fff;
      font-size: medium;
      font-weight: 600;
      margin-left: 14px;
  
  }
  .about{
      margin-top: 50px;
      margin-left: 550px;
  
  }
  .btn2 a{text-decoration: none;
          color: #fff;
          background:rgb(7, 171, 171) ;
          padding: 2px 8px 2px 8px;
          margin-left: 25px;
          border-radius: 12px;
        
  }
  .btn2 a:hover{background: #fff;
                color:rgb(7, 171, 171) ;
                box-shadow: 0 0 25px rgb(7, 171, 171), 0 0 50px rgb(7, 171, 171),
              0 0 200px rgb(7, 171, 171),0 0 200px rgb(7, 171, 171) ;
  
  }
  .icon a{color: #fff;
      border: 2px solid rgb(7, 171, 171) ;
      border-radius: 30%;
      margin-left: 30px;
      width: 65px;
      height: 80px;
      display: none;
  
  }
  .services{display: flex;
            flex-direction: row;
            width: 1090px;
            margin-left: 15px;
            justify-content: space-evenly;
  
  }
  .services h1{color: #fff;
      font-size: medium;
      font-weight: 700;
      margin-left: 25px;
      
  
  }
  .service{padding-top : 40px ;
           padding-bottom: 20px;
  
  }
  
  .service h1{color: #fff;
               font-size: medium;
               font-weight: 700;
               margin-left: 60px;
               
  }
  .UIdesign{border: 1px solid rgb(7, 171, 171);
            box-shadow: 0 0 5px rgb(7, 171, 171);
            padding: 15px;
            width: 350px;
            border-radius: 10px;
  
  }
  .Graphicdesign{border: 1px solid rgb(7, 171, 171);
                box-shadow: 0 0 5px rgb(7, 171, 171);
                padding: 15px;
                width: 350px;
                border-radius: 10px;
  
  }
  .data{border: 1px solid rgb(7, 171, 171);
      box-shadow: 0 0 5px rgb(7, 171, 171);
      padding: 15px;
      width: 350px;
      border-radius: 10px;
  
  }
  .skills{padding-top: 40px;
  
  }
  .skills h1{color: #fff;
             font-size: medium;
             font-weight: 700;
             margin-left: 60px;
  
  }
  .Tskill{margin-left: 50px;
      padding: 40px; 
      display: flex;
      flex-direction:row ;
  }
  .Tskill h1{
      color: #fff;
      font-size: medium;
      font-weight: 700;
      margin-left: 30px;
      margin-top: 80px;
     
  }

  .Tskill h2{color: #fff;
  
  }
  .html{width: 180px;
         height: 180px;
         background: #000;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         border-radius: 50%;
         box-shadow: 0 0 25px rgb(7, 171, 171);
         margin-left: 25px;
         margin-top: 10px;
         
  }
  .js{width: 150px;
      height: 150px;
      background: #000;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 50%;
      box-shadow: 0 0 25px rgb(7, 171, 171);
      margin-left: 25px;
      margin-top: 20px;
     
  }
  .css{width: 120px;
      height: 120px;
      background: #000;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 50%;
      box-shadow: 0 0 25px rgb(7, 171, 171);
      margin-left: 25px;
      margin-top: 35px;
     
  }
  .python{width: 200px;
      height: 200px;
      background: #000;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 50%;
      box-shadow: 0 0 25px rgb(7, 171, 171);
      margin-left: 25px;
  
  }
  .Sskill{margin-left: 50px;
      padding: 40px; 
      display: flex;
      flex-direction:row ;
  }
  .Sskill h1{
      color: #fff;
      font-size: medium;
      font-weight: 700;
      margin-left: 30px;
      margin-top: 80px;
     
  }
  .Sskill h2{color: #fff;
      font-size: small;
      font-weight: 400;
  
  }
  .Critical{width: 180px;
         height: 180px;
         background: #000;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         border-radius: 50%;
         box-shadow: 0 0 25px rgb(7, 171, 171);
         margin-left: 25px;
         margin-top: 10px;
         
  }
  .colab{width: 150px;
      height: 150px;
      background: #000;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 50%;
      box-shadow: 0 0 25px rgb(7, 171, 171);
      margin-left: 25px;
      margin-top: 20px;
     
  }
  .comm{width: 120px;
      height: 120px;
      background: #000;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 50%;
      box-shadow: 0 0 25px rgb(7, 171, 171);
      margin-left: 50px;
      margin-top: 35px;
     
  }
  .soln{width: 200px;
      height: 200px;
      background: #000;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 50%;
      box-shadow: 0 0 25px rgb(7, 171, 171);
      margin-left: 25px;
  
  }
  .projects{
    margin-left: 70px;
  }
  .projects h1{font-size: larger;
    font-weight: 700;
    color: #fff;
    margin-left: -12px;

  }

  .video{display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-top: 30px;
    border-radius: 12px;

  }

  .form{width: 500px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 60px;
      margin-left: 390px;
  }
  .contact h1{color: #fff;
    font-size: large;
    font-weight: 400;
    margin-bottom: 35px;
    margin-left: 400px;
    margin-top: 70px;

} 
  
  
  .form input{padding: 5px 50px 5px 20px;
      border: none;
      outline: none;
      border-radius: 12px;
      margin-bottom: 20px;
  }
  .name{
      margin-top:20px;
      margin-left: -250px;
      
      
  }
  .mail{
      margin-top: -90px;
      margin-left: 250px;
  }
  
  textarea{width: 470px;
      height: 150px;
      resize: none;
      padding: 15px 50px 5px 20px;
      border: none;
      outline: none;
      border-radius: 12px;
      margin-bottom: 35px; 
  }
  .mess{display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: 40px;
      
  
  }

  
  form button{
      width: 120px;
      height: 25px;
      background: rgb(7, 171, 171);
      justify-content: center;
      align-items: center;
      border-radius: 12px;
      color: #fff;
      cursor: pointer;
      text-decoration: none;
      border: none;
      outline: none;
  }
  form button:hover{color: rgb(7, 171, 171) ;
      background: #fff;
      box-shadow: 0 0 5px rgb(7, 171, 171),0 0 25px rgb(7, 171, 171),
      0 0 50px rgb(7, 171, 171),0 0 200px rgb(7, 171, 171);
  
  }
  .footer{margin-top: 20px;
  
  }
  .foot{
      justify-content: center;
      align-items: center;
      display: flex;
      margin-top: 75px;
  }
  @media (max-width:750px){
      body{width: 100%;           
      }
  }  
  @media (max-width:750px){
      .heading{width: 480px;           
      }
  }
  @media (max-width:750px){
      .nav a{margin-left: 15px;
          font-size: smaller;
          font-weight: lighter; 
             
      }
  }
  @media (max-width:600px){
      .nav{left: 100px;
       
          
      }
  }
  @media (max-width:750px){
      .logo{font-size: smaller;
          font-weight: lighter;
          
      }
  }
  @media (max-width:750px){
    .introduction{width: 300px;
        
        
    }
}

  @media (max-width:750px){
      .introduction h1,h2,h3,span{font-size: smaller;
          font-weight: lighter;
          
      }
  }
  @media (max-width:750px){
    .brief{width: 250px;
        
        
    }
}
  @media (max-width:750px){
      .brief p{font-size: smaller;
          font-weight: 2px;       
      }
  }
  @media (max-width:750px){
      .btn1{      
          margin-left: -45px;
             
      }
  }
  @media (max-width:750px){
      .btn1 a{font-size: smaller;
          font-weight: lighter;
                 
      }
  }
  @media (max-width:750px){
      .slider{
          left: 280px;
          top: 60px;       
      }
  }
  @media (max-width:750px){
      .slider img{
          width:100px;
          height: 100px;       
      }
  }
  @media (max-width:750px){
      .about{
          margin-left: 180px;
          top: 400px;
          width: 260px;       
      }
  }
  @media (max-width:750px){
      .about h1,h2,p,span{
          font-size: smaller;
          font-weight: lighter;      
      }
  }
  @media (max-width:750px){
      .btn2 a{
         font-weight : lighter;
          font-size: smaller;       
      }
  }
  @media (max-width:750px){
      .service{margin-left: -35px;
        width: 300px;
             
      }
  }
  @media (max-width:750px){
      .service h1{
          font-size: smaller;  
          font-weight: lighter;    
      }
  }
  @media (max-width:750px){
      .services{display: flex;
          flex-direction: column ;  
          margin-left: 40px;    
          justify-content: space-evenly;
          width: 300px;
              
      }
  }
  @media (max-width:750px){
      .UIdesign{
          margin-bottom: 15px;       
      }
  }
  @media (max-width:750px){
      .Graphicdesign{
          margin-bottom: 15px;       
      }
  }
  @media (max-width:750px){
      .data{
          margin-bottom: 15px;       
      }
  }
  @media (max-width:750px){
      .services h1{
          font-size: smaller;  
          font-weight: lighter;    
      }
  }
  @media (max-width:750px){
      .skills{margin-left: -35px;
             
      }
  }
  @media (max-width:750px){
      .skills h1{
          font-size: smaller;  
          font-weight: lighter;    
      }
  }
  @media (max-width:750px){
      .Tskill{
          margin-left: -48px;  
      }
  }
  @media (max-width:750px){
      .Sskill{
          margin-left: -48px;   
      }
  }
  @media (max-width:750px){
      .Tskill h1,h2,span{
          font-size: smaller;  
          font-weight: lighter;    
      }
  }
  @media (max-width:750px){
      .Sskill h1,h2,span{
          font-size: smaller;  
          font-weight: lighter;    
      }
  }
  @media (max-width:750px){
      .css{
          width: 100px; 
          height: 60px; 
          margin-top: 70px;
          margin-left: 15px;  
      }
  }
  @media (max-width:750px){
      .js{width: 110px; 
          height: 90px; 
          margin-top: 50px; 
          margin-left: 15px;
             
      }
  }
  @media (max-width:750px){
      .html{width: 120px; 
          height: 100px; 
          margin-top: 45px; 
          margin-left: 15px;
             
      }
  }
  @media (max-width:750px){
      .python{width: 130px; 
          height: 105px; 
          margin-top: 40px; 
          margin-left: 15px;
             
      }
  }
  
  @media (max-width:750px){
      .comm{
          width: 100px; 
          height: 80px; 
          margin-top: 55px;
          margin-left: 15px;  
      }
  }
  @media (max-width:750px){
      .colab{width: 110px; 
          height: 90px; 
          margin-top: 50px; 
          margin-left: 15px;
             
      }
  }
  @media (max-width:750px){
      .Critical{width: 120px; 
          height: 100px; 
          margin-top: 45px; 
          margin-left: 15px;
             
      }
  }
  @media (max-width:750px){
      .soln{width: 130px; 
          height: 105px; 
          margin-top: 40px; 
          margin-left: 15px;
             
      }
  }
  @media (max-width:750px){
    .projects{width: 410px; 
       
           
    }
}
@media (max-width:750px){
    .projects h1{font-size: smaller; 
        font-weight: lighter;
        margin-left: -45px;
      
           
    }
}
@media (max-width:750px){
    .video{flex-direction: column;
        width: 300px;
        height: 550px;
        margin-top: 10px;
        margin-bottom: -90px;
        justify-content: space-evenly;
        margin-left: 5px;
       
           
    }
}


  @media (max-width:750px){
    .contact h1{ font-size: smaller;
        font-weight: lighter;
        margin-left: 25px; 
        margin-top: 130px;  
          
    }
      }
  
  @media (max-width:750px){
      .contact span{ font-size: smaller;
          font-weight: lighter;        
      }
  }
  @media (max-width:750px){
      .form{width: 400px; 
          margin: 10px auto;                
      }
  }
  @media (max-width:750px){
      .mess textarea{width: 365px; 
          margin-left: -20px;
         
             
      }
  }
  @media (max-width:750px){
      .name{margin-left: -217px;
             
      }
      
  }
  @media (max-width:750px){
      .mail{
          margin-left: 177px;
      }
  }
  @media (max-width:750px){
      .form input{width: 170px;         
      }
  }
  @media (max-width:750px){
      form button{ font-size: smaller;
          font-weight: lighter;
      }
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  